/****** PLACE YOUR CUSTOM STYLES HERE ******/
.input-opacity {
  opacity: 0.7;
}

.form-errors {
  position: relative;
  top: -10px;
  float: left;
  width: 100%;
}

nav.transparent {
  background: none;
}

.absolute {
  position: absolute;
}

nav.transparent .nav-bar {
  background: rgba(0, 0, 0, 0.9);
}

nav.transparent.fixed {
  background: none;
}

nav.transparent .logo-dark {
  display: inline;
}

@media (max-width: 990px) {
  nav.transparent .nav-open .menu > li > a {
    color: #fff;
  }
}

nav.transparent.fixed .menu > li > a {
  opacity: 1;
  color: #fff;
}

.overlay:before {
  opacity: 0.7;
}

.container-white {
  background-color: white;
}

h1.large {
  font-size: 50px;
  font-weight: 300;
}

.footer-2 {
  padding-bottom: 35px;
  padding-top: 35px;
}

input.btn-blue {
  background: #59a4f0;
  border: 2px solid #59a4f0;
}

input.btn-blue:hover {
  background: #4890da;
}

.white-font {
  color: #fff;
}

a, a:hover, a:visited, a.focus {
  color: #59a4f0;
}

.img-icon {
  max-width: 55%;
}

img {
  height: auto;
}

span.subhead:before, span.subhead:after {
  content: "";
  width: 60px;
  height: 6px;
  border-top: 1px solid white;
  display: inline-block;
  margin: 0 10px;
}

section.white-cover {
  background: #f9f9f9;
}

div.bordered-block {
  border-top: 1px solid #d8dee2;
  border-radius: 5px;
  padding: 65px 20px 15px 20px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d8dee2;
  padding-top: 65px;
  margin-top: 50px;
}

.bordered-block.no-padding {
  margin-top: 25px;
  padding: 0;
}

input.signup-input {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.about {
  padding-left: 13%;
}

.contact {
  padding-bottom: 5%;
}

.image-square {
  height: 100vh;
  max-height: 100%;
}

section.map-section {
  padding: 58px 0;
}

.inline-icons {
  margin-right: 20px;
}

.form-container {
  padding: 35px 20px 35px 20px;
}

.form-container #short-description {
  padding: 10px;
}

.map iframe {
  width: 100%;
}

textarea.signup-input {
  resize: none;
  padding: 16px 20px 9px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
textarea::-webkit-input-placeholder {
  color: #999;
}

.form-container.btn-blue {
  min-width: 0;
}

.select-option i {
  right: 30px;
}

@media (max-width: 768px) {
  .fullscreen {
    height: auto;
  }
  .v-align-transform {
    position: static;
    transform: none;
  }
}

.sign-up-text {
  margin-bottom: 0;
  padding-top: 27px;
  display: inline-block;
}

.sign-up-icon {
  font-size: 80px;
  display: inline-block;
  color: #666;
  padding-bottom: 10px;
}

.careers-link {
  padding-top: 10px;
}

.career-title {
  padding-bottom: 15px;
}

 .career-image.image-square{
  height: 50vh;
}

.footer_block_wrapper .clearfix {
  background-color: #ddd;
}

@media all and (max-height: 768px) {
  .fullscreen {
    height: auto;
  }
  .v-align-transform {
    transform: none;
    -webkit-transform: none;
  }
}

.subjects-offered {
  padding-top: 20px;
}

.submit-form-message {
  text-align: center;
  vertical-align: middle;
}

.contact-us-image {
    padding-top: 50px;
}

.careers-padding {
  padding: 70px 0;
}

.footer-top-padding {
  padding-top: 30px;
}

.footer-img {
  padding-left: 150px;
}

.button-padding-top {
  padding-top: 40px;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.blog-font-size {
  font-size: 15px;
}

@media (max-width: 990px) {
  .image-square {
    height: auto;
    max-height: 100000px;
    padding-bottom: 48px;
  }
}

.parallax .slides li > div.background-image-holder {
  height: 120vh;
}

.page-title .col-sm-12 {
  float: none;
}

.page-title .breadcrumb.breadcrumb-2 {
  margin-bottom: 0;
  margin-top: 25px;
  position: static;
}

.next-button {
  margin-left: 15px;
}

.feature.feature-1 {
  min-height: 265px;
}

.feature.feature-3 i {
  margin-bottom: 16px;
}

.fade-on-hover.footer-link {
  padding-left: 10px;
}

.footer-2 .rights {
  padding-right: 20px;
  float: right
}

.footer-2 ul li {
  display:table-cell;
  position: relative;
  padding: 0 10px;
}

footer.bg-dark a {
  color: #fefefe;
  opacity: 1;
}

/* Keep this for future improvments */
footer.footer-2 li:after {
  content: "|";
  position: absolute;
  left: calc(100% - 4px);
  top: 0;
  color: #fefefe;
  visibility: hidden;
}

footer.footer-2 li:last-child:after {
  display: none;
}

.footer-left ul {
  float: left;
  margin-bottom: 0px;
}

.footer-2 .row.fade-half {
  padding-left: 15px;
  padding-right: 15px;
}

.career-image .last-block {
  padding: 6%;
}

@media (max-width: 990px) {
  .career-image .content {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
  }
  .career-image .wpb_content_element {
    transform: translate(0, -50%);
    position: relative;
    top: 50%;
  }

  .career-image.image-square {
    margin-bottom: 30px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 920px) {
  .footer-2 .footer-left {
    text-align: center;
    display: block;
  }

  .footer-2 .rights {
    float: none;
    text-align: center;
    display: block;
  }

  .footer-2 ul {
    display: inline-block;
    float: none;
  }
}

@media (max-width: 990px) {
  .img-on-right {
    margin-top: 13%;
  }
}
