<footer class="footer-2 bg-dark pt96 pt-xs-40 footer-top-padding">
  <div class="row fade-half">
    <div class="col-sm-12">
      <span class="footer-left">
        <ul>
          <li>
            <a href="/how_it_works" class="uppercase mb16 fade-on-hover footer-link first">HOW IT WORKS</a>
          </li>
          <li>
            <a href="/sign_up" class="uppercase mb16 fade-on-hover footer-link">FIND A TUTOR</a>
          </li>
          <li>
            <a href="/careers" class="uppercase mb16 fade-on-hover footer-link">Careers</a>
          </li>
          <li>
            <a href="/blog" class="uppercase mb16 fade-on-hover footer-link">Blog</a>
          </li>
          <li>
            <a href="/about_us" class="uppercase mb16 fade-on-hover footer-link">About</a>
          </li>
          <li>
            <a href="/contact" class="uppercase mb16 fade-on-hover footer-link last">Contact</a>
          </li>
        </ul>
      </span>
      <span class="rights">© Copyright 2017 Top Tutoring - All Rights Reserved</span>


            <!-- div class="col-md-4 col-md-offset-2 col-sm-4">
              <p class="lead">Follow Us</p>
              <ul class="list-inline social-list">
                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="#"><i class="ti-facebook"></i></a></li>
                <li><a href="#"><i class="ti-dribbble"></i></a></li>
                <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
              </ul>
            </div> -->
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.url }}/js/jquery.min.js"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/js/flexslider.min.js"></script>
<!-- <script src="../js/lightbox.min.js"></script>
<script src="../js/masonry.min.js"></script>
<script src="../js/twitterfetcher.min.js"></script>
<script src="../js/spectragram.min.js"></script>
<script src="../js/ytplayer.min.js"></script>
<script src="../js/countdown.min.js"></script>
<script src="../js/smooth-scroll.min.js"></script> -->
<script src="{{ site.url }}.js/parallax.min.js"></script>
<script src="{{ site.url }}/js/scripts.js"></script>
<script src="{{ site.url }}/js/sign-up.js"></script>
