<footer class="footer-2 bg-dark text-center-xs">
  <div class="container">
    <div class="col-md-4 col-sm-4 fade-half">
      <div class="widget">
        <h6 class="title uppercase font_roboto">Contact</h6>
        <div class="instafeed" data-user-name="funsizeco">
          <ul>
            <li style="width:100% !important;">
            	<i class="ti-email"></i>
              <span class="fade-half">tutor@toptutoring.com</span>
            </li>
            <li style="width:100% !important;">
            	<i class="ti-mobile"></i>
              <span class="fade-half">510.842.5221</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-sm-offset-2 fade-half">
      <div class="widget">
        <h6 class="title uppercase font_roboto">About</h6>
          <div class="instafeed" data-user-name="funsizeco">
            <ul>
              <li style="width:100% !important;">
                <span class="fade-half">Bay Area SAT test preparation and tutoring. Results that deliver.</span>
              </li>
              <li style="width:100% !important;">
                <span class="fade-half">Proudly Serving:
                  </br>
                  Alameda | Berkeley | Piedmont | Oakland
                  Moraga | Orinda | </br> Lafayette | Dublin | Pleasanton | Union City | Fremont | Castro Valley
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="col-sm-12 text-center">
        <span class="fade-half">© Copyright 2017 Top Tutoring - All Rights Reserved</span>
      </div>
  </div>
</footer>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/flexslider.min.js"></script>
<!-- <script src="../js/lightbox.min.js"></script>
<script src="../js/masonry.min.js"></script>
<script src="../js/twitterfetcher.min.js"></script>
<script src="../js/spectragram.min.js"></script>
<script src="../js/ytplayer.min.js"></script>
<script src="../js/countdown.min.js"></script>
<script src="../js/smooth-scroll.min.js"></script> -->
<script src="../js/parallax.min.js"></script>
<script src="../js/scripts.js"></script>
<script src="../js/landlord-sign-up.js"></script>
