<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4VQ5Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
  window.intercomSettings = {
    app_id: "d18art63"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/d18art63';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- End Google Tag Manager (noscript) -->
<!-- <div class="nav-container">
    <a id="top"></a>
    <nav class="transparent absolute">

        <div class="nav-bar">
            <div class="module left">
              <a href="{{ site.url }}">
                  <img class='logo logo-dark' src="/img/toptutoring3.png">
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                      <li>
                        <a class="page-link logo-dark" href="https://app.toptutoring.com/sign_in">Sign in</a>
                      </li>
                      {% assign pages = site.pages | sort:"weight"  %}
                      {% for my_page in pages %}
                        {% unless my_page.exclude %}
                          {% if my_page.title %}
                            <li>
                              <a class="page-link logo-dark" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                            </li>
                          {% endif %}
                        {% endunless %}
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div> -->

<div class="nav-container">
      <nav>
          <div class="nav-bar">
            <div class="module left">
                <a href="{{ site.url }}">
                    <div class="vnu"><img class="logo logo-dark" alt="TopTutoring" src="/img/topTutoringFinal.png"></div>
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                          {% assign pages = site.pages | sort:"weight"  %}
                          {% for my_page in pages %}
                            {% unless my_page.exclude %}
                              {% if my_page.title %}
                          <li>
                            <a class="page-link logo-dark" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                          </li>
                            {% endif %}
                          {% endunless %}
                        {% endfor %}
                        <li>
                          <a class="page-link logo-dark" href="/blog/">Blog</a>
                        </li>
                        <li>
                          <a class="page-link logo-dark" href="https://app.toptutoring.com/sign_in">Sign in</a>
                        </li>
                        </li><li class="vpf">
                          <a id="blue-sign-up" href="https://app.toptutoring.com/users/clients/new">Sign UP</a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </nav>
