---
layout: default
---
<article2 class="post2">

  <section class="cover fullscreen">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <h1 class="">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-md-4
        col-md-offset-4 col-sm-8
        col-sm-offset-2">
          Col md 4 in row
        </div>
        <div class="row">
          <div class="col-md-4
          col-md-offset-4 col-sm-8
          col-sm-offset-2">
            Col md 4 in row2
          </div>
          <!--end
            of
            row-->
        </div>
        <!--end
          of
          container-->

    <div class="post-content">
      {{ content }}
    </div>
  </section>

</article2>
