---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        {{ content }}
      </div>

      <div class="col-md-3 hidden-sm">
        <div class="widget">
          <h6 class="title">Blog Categories</h6>
          <hr>
          <ul class="link-list">
            {% for category in site.categories %}
            <li>
              <a href="{{ site.url | append:"/blog/categories/" | append:category[0] }}">{{ category[0] | capitalize }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!--end of widget-->
        <div class="widget">
          <h6 class="title">Recent Posts</h6>
          <hr>
          <ul class="link-list recent-posts">
            {% for post in site.posts limit:4 %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span class="date">{{ post.date | date: "%a, %b, %d, %y" }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!--end of widget-->
      </div>

    </div>
    <div class="row">
      {% if paginator.total_pages > 1 %}
      <div class="text-center">
        {% if paginator.previous_page %}
        {% if paginator.previous_page_path == "/page1" %}
        <a class="mb48 mb-xs-32 btn btn-lg btn-lg-blue previous-button" href="{{ site.baseurl | append:"/blog"}}">Newer Articles</a>
        {% else %}
        <a class="mb48 mb-xs-32 btn btn-lg btn-lg-blue previous-button" href="{{ paginator.previous_page_path }}">Newer Articles</a>
        {% endif %}
        {% endif %}

        {% if paginator.next_page %}
        <a class="mb48 mb-xs-32 btn btn-lg btn-lg-blue next-button" href="{{ paginator.next_page_path }}">Older Articles</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</section>



