---
layout: blog
---

<div class="post-snippet mb64">
  <article>
    <div class="post-title">
      <h3 class="inline-block mb12">
        <span class="post-title" itemprop="name headline">{{ page.title }}</span>
      </h3>
    </div>
    <div class="addthis_inline_share_toolbox mb12"></div>

    {% if page.img %}
    <img width="1024" height="683" src="{{site.url}}/img/{{ page.img }}" class="mb24 wp-post-image" alt="blog-single-4" sizes="(max-width: 1024px) 100vw, 1024px">
    {% endif %}

    <div class="post-content">
      <p class="lead">
      {{ content }}
      </p>
      <div class="addthis_inline_share_toolbox mb24"></div>
      <div class="clearfix"></div>
    </div>

    <div class="text-center">
      {% if page.previous %}
      <a class="mb48 mb-xs-32 btn btn-lg btn-lg-blue previous-button" href="{{ page.previous.url }}">Previous Post</a>
      {% endif %}

      {% if page.next %}
      <a class="mb48 mb-xs-32 btn btn-lg btn-lg-blue next-button" href="{{ page.next.url }}">Next Post</a>
      {% endif %}
    </div>
  </article>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592c8482ca63f984"></script>

</div>
